<section class="ftco-section-parallax">
    <div class="parallax-img d-flex align-items-center">
      <div class="container">
        <div class="row d-flex justify-content-center">
          <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
            <h2>Subcribe to our Newsletter</h2>
            <p>Fast Digital gatway implement, Production with Cloud Hosting</p>
            <div class="row d-flex justify-content-center mt-4 mb-4">
              <div class="col-md-8">
                <form action="#" class="subscribe-form">
                  <div class="form-group d-flex">
                    <input type="text" class="form-control" placeholder="Enter email address">
                    <input type="submit" value="Subscribe" class="submit px-3">
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
     <footer class="ftco-footer ftco-bg-dark ftco-section">
          <div class="container">
            <div class="row mb-5">
                <div class="col-md">
                 <div class="ftco-footer-widget mb-4">
                  <h2 class="ftco-heading-2">About</h2>
                  <p>behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                  <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-3">
                    <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                    <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                    <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                  </ul>
                </div>
              </div>
              <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                  <h2 class="ftco-heading-2">Employers</h2>
                  <ul class="list-unstyled">
                    <li><a href="#" class="py-2 d-block">How it works</a></li>
                    <li><a href="#" class="py-2 d-block">Register</a></li>
                    <li><a href="#" class="py-2 d-block">Post a Job</a></li>
                    <li><a href="#" class="py-2 d-block">Advance Skill Search</a></li>
                    <li><a href="#" class="py-2 d-block">Recruiting Service</a></li>
                    <li><a href="#" class="py-2 d-block">Blog</a></li>
                    <li><a href="#" class="py-2 d-block">Faq</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-md">
                <div class="ftco-footer-widget mb-4 ml-md-4">
                  <h2 class="ftco-heading-2">Workers</h2>
                  <ul class="list-unstyled">
                    <li><a href="#" class="py-2 d-block">How it works</a></li>
                    <li><a href="#" class="py-2 d-block">Register</a></li>
                    <li><a href="#" class="py-2 d-block">Post Your Skills</a></li>
                    <li><a href="#" class="py-2 d-block">Job Search</a></li>
                    <li><a href="#" class="py-2 d-block">Emploer Search</a></li>
                    <li><a href="#" class="py-2 d-block">Resumes Storage</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Have a Questions?</h2>
                    <div class="block-23 mb-3">
                      <ul>
                        <li><span class="icon icon-map-marker"></span><span class="text">Vientiane Capital, Laos</span></li>
                        <li><a href="#"><span class="icon icon-phone"></span><span class="text">+856(20-28-222-732)</span></a></li>
                        <li><a href="#"><span class="icon icon-envelope"></span><span class="text">rixnickl2@gmail.com</span></a></li>
                      </ul>
                    </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 text-center">
    
                <p>
                  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Power 
                  <i class="icon-heart text-danger" aria-hidden="true"></i>
                   by <a href="https://codev-digi.com" target="_blank">SoftNiX</a>
              </p>
              </div>
            </div>
          </div>
        </footer>
        